## D500 Behavioural analysis
Version: 1.0 (Aug 30, 2020)
by AHB

1. Load Data
2. Simple Data Summary (number of trials, % correct, etc.)
3. Simple EDA of Data (e.g., % correct by condition, etc.)
4. Model Behaviour (using Bayes / R-W)
5. Pretty Pictures

In [1]:
# 0.0 - Import standard libraries and set up defaults
import numpy as np
import pandas as pd
from scipy.io import loadmat
import os

datasets_folder = os.path.join('/Users','aharrisonbell','OneDrive - Nexus365','ephysProjects','D500_ES-RS_Study/')
filename = os.path.join(datasets_folder,'DMS500_behavAnalysis.mat')

In [2]:
print('Loading d500 behavioural data...')
d500Data = loadmat(filename)

colNamesBehav = ['MonkeyNum','SessNum','NeuronNum','NewNeuronNum','TrialNum','TrialOutcome','Block','Condition','ReactionTime','TotalNumNeuronsSession','1stStim','2ndStim','Expectation','Actual','Active','Right/Left','Nothing1','TaskNum','Nothing2','Nothing3']

d500BehavData = pd.DataFrame(d500Data['behavData'], columns=colNamesBehav)
d500BehavData.drop(['NeuronNum','NewNeuronNum','TotalNumNeuronsSession','Nothing1','Nothing2','Nothing3'], axis=1, inplace=True)
display(d500BehavData.head(20))

Loading d500 behavioural data...

,MonkeyNum,SessNum,TrialNum,TrialOutcome,Block,Condition,ReactionTime,1stStim,2ndStim,Expectation,Actual,Active,Right/Left,TaskNum
0,1.0,1.0,1.0,6.0,1.0,25.0,194.0,2.0,2.0,1.0,1.0,1.0,1.0,500.0
1,1.0,1.0,3.0,6.0,1.0,15.0,194.0,1.0,2.0,1.0,2.0,1.0,1.0,500.0
2,1.0,1.0,4.0,6.0,1.0,8.0,179.0,1.0,1.0,1.0,1.0,1.0,-1.0,500.0
3,1.0,1.0,5.0,6.0,1.0,11.0,215.0,1.0,1.0,1.0,1.0,1.0,-1.0,500.0
4,1.0,1.0,6.0,6.0,1.0,29.0,200.0,2.0,1.0,1.0,2.0,1.0,-1.0,500.0
5,1.0,1.0,7.0,6.0,1.0,26.0,228.0,2.0,2.0,1.0,1.0,1.0,1.0,500.0
6,1.0,1.0,8.0,0.0,1.0,26.0,183.0,2.0,2.0,1.0,1.0,1.0,1.0,500.0
7,1.0,1.0,9.0,0.0,1.0,2.0,172.0,1.0,1.0,1.0,1.0,1.0,1.0,500.0
8,1.0,1.0,10.0,6.0,1.0,9.0,198.0,1.0,1.0,1.0,1.0,1.0,-1.0,500.0
9,1.0,1.0,11.0,0.0,1.0,30.0,193.0,2.0,1.0,1.0,2.0,1.0,-1.0,500.0
10,1.0,1.0,12.0,0.0,1.0,32.0,187.0,2.0,1.0,1.0,2.0,1.0,1.0,500.0
11,1.0,1.0,13.0,6.0,1.0,4.0,186.0,1.0,1.0,1.0,1.0,1.0,1.0,500.0
12,1.0,1.0,14.0,6.0,1.0,27.0,189.0,2.0,2.0,1.0,1.0,1.0,1.0,500.0
13,1.0,1.0,15.0,6.0,1.0,22.0,185.0,2.0,2.0,1.0,1.0,1.0,-1.0,500.0
14,1.0,1.0,16.0,6.0,1.0,3.0,186.0,1.0,1.0,1.0,1.0,1.0,1.0,500.0
15,1.0,1.0,17.0,0.0,1.0,6.0,171.0,1.0,1.0,1.0,1.0,1.0,1.0,500.0
16,1.0,1.0,18.0,6.0,1.0,18.0,176.0,2.0,2.0,1.0,1.0,1.0,-1.0,500.0
17,1.0,1.0,19.0,0.0,1.0,20.0,195.0,2.0,2.0,1.0,1.0,1.0,-1.0,500.0
18,1.0,1.0,20.0,6.0,1.0,29.0,186.0,2.0,1.0,1.0,2.0,1.0,-1.0,500.0
19,1.0,1.0,22.0,6.0,1.0,18.0,188.0,2.0,2.0,1.0,1.0,1.0,-1.0,500.0

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

d500BehavData.groupby('Expectation').hist('ReactionTime', bins=50, figsize=(10, 5))
plt.show()

In [3]:
d500BehavData.describe()

,MonkeyNum,SessNum,TrialNum,TrialOutcome,Block,Condition,ReactionTime,1stStim,2ndStim,Expectation,Actual,Active,Right/Left,TaskNum
count,6139.000000,6139.000000,6139.000000,6139.000000,6139.000000,6139.000000,6139.000000,6139.00000,6139.000000,6139.000000,6139.000000,6139.000000,6139.000000,6139.0
mean,1.464082,13.340772,239.705327,1.784655,3.267144,89.110279,203.265190,1.49943,1.504480,1.993647,1.507412,0.575501,-0.005701,500.0
std,0.498749,7.506303,177.384352,2.743021,1.691500,54.977771,93.315174,0.50004,0.500021,0.822337,0.499986,0.494307,1.000065,0.0
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,19.000000,1.00000,1.000000,1.000000,1.000000,0.000000,-1.000000,500.0
25%,1.000000,7.000000,97.000000,0.000000,2.000000,42.000000,172.000000,1.00000,1.000000,1.000000,1.000000,0.000000,-1.000000,500.0
50%,1.000000,14.000000,205.000000,0.000000,3.000000,85.000000,192.000000,1.00000,2.000000,2.000000,2.000000,1.000000,-1.000000,500.0
75%,2.000000,20.000000,345.000000,6.000000,5.000000,136.000000,221.000000,2.00000,2.000000,3.000000,2.000000,1.000000,1.000000,500.0
max,2.000000,26.000000,850.000000,6.000000,6.000000,192.000000,787.000000,2.00000,2.000000,3.000000,2.000000,1.000000,1.000000,500.0

### Next Steps:
1. generate tb